/*Main styles*/

body a, p, input{
  font-family: 'Ubuntu', sans-serif;
}

h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}


.black {
  color: #212529;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  background: rgba(232, 235, 238, 0.9);
  border-radius: 5px;
}

.sm-black {
  color: #212529;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  background: rgba(232, 235, 238, 0.9);
  border-radius: 5px;
}


/*Footer styles*/

.space {
  margin: 1rem;
  padding: .5rem;
}

.blacken {
  background: #212529;
  color: white;
}


/*popup*/

#popup {
  cursor: help;
}

/*Media queries & tablet breakpoints*/

@media screen and (min-width: 319px) {
  h1 {
    font-size: 2rem;
  }

  .small {
    font-size: .5rem;
  }
}

@media screen and (min-width: 768px) {

  h1 {
    font-size: 3rem;
  }

  .footer-button {
    display: none;
  }

  .small {
    font-size: .8rem;
    margin-top: 4rem;
  }
}
